[Desktop Entry]
Type=Application
Name=Bloom
Comment=Media client for Jellyfin and Silo servers; experimental native Silo support
Exec=bloom
Icon=com.github.crowquillx.Bloom
Categories=AudioVideo;Video;Player;TV;
Keywords=Jellyfin;Silo;Media;HTPC;Streaming;TV;
Terminal=false
StartupWMClass=Bloom
